<div class="limiter">
		<div class="container-main-content">
			<div class="wrap-main-content">
				{{> sectionslideshow item=slideshow}}
				{{#each data}}
					{{> section item=content}}
				{{/each}}
			</div>
		</div>
</div>
<script src="js/section.js"></script>