<link rel="stylesheet" type="text/css" href="/css/main.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" style="margin: 0 0 0 0;" href="/"><img style="height: 40px;width:40px;margin-right:10px" src="/images/logo-small.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Motors</a>
                    <a class="dropdown-item" href="#">Fashion</a>
                    <a class="dropdown-item" href="#">Electronics</a>
                    <a class="dropdown-item" href="#">Art</a>
                    <a class="dropdown-item" href="#">Home</a>
                    <a class="dropdown-item" href="#">Sporting Goods</a>
                    <a class="dropdown-item" href="#">Toys</a>
                    <a class="dropdown-item" href="#">Industrial</a>
                    <a class="dropdown-item" href="#">Music</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#top">Top bids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#ending">Ending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#trending">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our picks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all">All products</a>
            </li>
        </ul>
        <li class="nav-item">
            <div class="wrap-input100 wrap-input100-search">
						<input class="input100 input100-search" type="text"placeholder="Search">
						<span class="focus-input100"></span>
					</div>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-login" href="/upload">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-login" href="/login">Login</a>
        </li>
    </div>
</nav>