<div id="mySidenav" class="sidenav">
        <a href="edit" id="Profile">Profile</a>
        <a href="favourite" id="Favorite">Favorite</a>
        <a href="assess" id="Assess">Assess</a>
        <a href="#" id="Bidding">Bidding</a>
        <a href="#" id="Win">Win</a>
</div>
<script src="/js/sidebar.js"></script>