body {
    background: white;
}

.login {
    margin-bottom: 5px;
}

.login-submit {
    margin-top: 10px;
    margin-bottom: 5px;
}

.dropdown-menu {
    width: 300px !important;
}

.containerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.containerflex .card {
    padding: 20px 20px;
    margin: 10px 5px 10px 5px;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
    /* My test */
    .modal-content {
        width: 100%;
      }
}


  /* create two column for item user*/
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .ratechecked {
    color: #ffff66;
  }


  /* resize input number when choosing quality */
  input[type="number"] {
    width: 50px;
}

  
.moveright{
  padding-left:40px;
}

.bidbutton{
  background-color: #f41e1e;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}