    <link rel="stylesheet" type="text/css" href="/css/cardViewAssessProduct.css">
    <link rel="stylesheet" type="text/css" href="/css/signOut.css">

    <div class="limiter">
        <div class="container-main-content">
            <div class="wrap-main-content wrap-item-view">
                <div style="width:100%">
                <h2 class="form-title">Assess Products</h2>

    {{> sidenav}}


    <div>
        <div class="blog-card spring-fever">
            <div class="title-content">
                <h3><a href="#">Name product</a></h3>
                <div class="intro"> <a href="#">Merchant</a> </div>
            </div>
            <div class="card-info">
                Bla bla bla...
                <a href="#">Read More<span class="licon icon-arr icon-black"></span></a>
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><span class="licon icon-like"></span><a href="#">2</a></li>
                    <li><span class="licon icon-com"></span><a href="#">12</a></li>
                    <li><span class="licon icon-dat"></span>03 jun 2017</li>

                </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
        </div>
    </div>
                </div>
        </div>
    </div>
</div>
    
    