<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/commentrate.css">

<div class='limiter'>

    <div class="container-main-content">
        <div class="p-t-20">
            <center>
                <font color='red'>
                    <h3>Review and Rating</h3>
                </font>
                <p><br><br></p>
                <img src="{{picture}}" width="255px" height="255px"></img>
            </center>
        </div>
        <div class="wrap-main-content wrap-item-view">
            <div>
                <h2>{{name}}</h2>
                <p>Current Bid: <b>{{price}}$</b></p>
                <p>Buy Now Price: <b>1200$</b></p>
                <p>Seller: <span id="merchant-name">@phithangnguyen</span></p>
                <p>Create at: <span id="create_at"> 5:01 AM 23/11/2019</span></p>
                <p>Close in: <span id="end_at"> after 10 hours</span></p>
                <p>Validate Price: <b>{{price}}$</b></p>
            </div>
            <div class="card bg-light" style="width:45rem">
                <div class='moveright'>
                    <h3>Rate of the codition of product</h3>
                    <input id="input-3" name="input-3" class="rating rating-loading" data-min="0" data-max="5"
                        data-step="1" value="5" data-size="md">

                    <hr>
                    <h3>Review</h3>
                    <div class="col-sm-11">
                        <input type="text" class="form-control mb-3 pl-3 " name="review"
                            value="Put your comment for review of product here">
                    </div>
                    <hr>
                    <a id="Comment"><button type='button' class='bidbutton'>Enter</button></a>
                </div>
            </div>
        </div>

        <script src="/js/commentrate.js"></script>