    <link rel="stylesheet" type="text/css" href="/css/signOut.css">
<div class="limiter">
    <div class="container-main-content">
        <div class="wrap-main-content wrap-item-view">
            {{> sidenav}}

    <div style="width: 100%;">
        <div class="container">
            <form method="POST" id="signup-form" class="signup-form">
                <h2 class="form-title">Profile</h2>
                <p class="Title">Your name</p>
                <div class="form-group">
                    <input type="text" class="form-input" name="name" id="name" placeholder="Your Name" />
                </div>
                <p class="Title">Your email</p>
                <div class="form-group">
                    <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" />
                </div>
                <p class="Title">Current password</p>
                <div class="form-group">
                    <input type="password" class="form-input" name="curr_password" id="curr_password"
                        placeholder="Current password" />
                </div>
                <p class="Title">New password</p>
                <div class="form-group">
                    <input type="password" class="form-input" name="new_password" id="new_password"
                        placeholder="New password" />
                </div>
                <p class="Title">Repeat password</p>
                <div class="form-group">
                    <input type="password" class="form-input" name="re_password" id="re_password"
                        placeholder="Repeat your password" />
                </div>
                <div class="">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Save change" />
                </div>
            </form>

        </div>
        
    </div>
        </div>
    </div>
</div>
    
    