<link rel="stylesheet" type="text/css" href="/css/betView.css">

<div class="limiter">
    <div class="container-main-content">
		<div class="wrap-main-content wrap-item-view">
            <div>
        <h2>{{name}}</h2>
        <p>Current Bid: <b>{{price}}$</b></p>
        <p>Buy Now Price: <b>1200$</b></p>
        <p>Seller: <span id="merchant-name">@phithangnguyen</span></p>
        <p>Create at: <span id="create_at"> 5:01 AM 23/11/2019</span></p>
        <p>Close in: <span id="end_at"> after 10 hours</span></p>
        <p>Validate Price: <b>{{price}}$</b></p>
        <div>
            <span>Rating: </span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        </div>
        

        <div class="bid-collapse">
        <br>
        <div>
            <div class="btn-group " role="group" aria-label="Basic example">
                <button type="button" data-toggle="collapse" href="#bid-collapse" class="btn btn-primary normal-bid-btn">Normal Bid</button>
                <button type="button" data-toggle="collapse" href="#auto-bid-collapse" class="btn btn-primary">Auto Bid</button>
            </div>
        </div>
        <div class="collapse show bid-collapse" id="bid-collapse">
            <div class="card card-body">
                <label>Price: </label>
                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control bid-price" value="300" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse autobid-collapse" id="auto-bid-collapse">
            <div class="card card-body">
                <div class="card card-body">
                    <label>Price: </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" id="autobid-price" class="form-control bid-price" value="300" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <label>Maximum Price: </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" id="maximum-price" class="form-control bid-price" value="0" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-success" id="buy-btn">Buy</button>
        <button type="button" class="btn btn-danger buy-now-btn" id="buy-now">Buy Now</button>
        </div>

        <div>
            <h3>History</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rate</th>
                        <th scope="col">Time</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>23:00</td>
                        <td>***To</td>
                        <td>280</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>11:12</td>
                        <td>***Va</td>
                        <td>230</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>11:12</td>
                        <td>***Vi</td>
                        <td>220</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>11:12</td>
                        <td>***ai</td>
                        <td>210</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>11:12</td>
                        <td>***i</td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
        </div>

        


		</div>
	</div>
</div>

<script src="/js/betController.js"></script>