<!-- include summernote css/js-->
<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<link href="/css/uploadProduct.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
<div class="limiter">
    <div class="container-main-content">
        <div class="wrap-main-content wrap-item-view">
            <div class="upload-image-zone">
                <h3 style="padding-top:30px;padding-bottom:30px;">Upload product</h3>
                <form>
                    <div id="product-details" class="form-group">
                        <label for="exampleFormControlInput1">Product:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Starting price:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Condition:</label>
                        <select class="form-control" id="exampleFormControlSelect2">
                            <option>New</option>
                            <option>New (95%)</option>
                            <option>Used</option>
                        </select>
                    </div>
                </form>
                <label>Images:</label>
                <div class="preview-images-zone">
                </div>
                <fieldset class="form-group">
                    <a href="javascript:void(0)" onclick="$('#pro-image').click()"><button class="btn btn-primary">Upload Image</button></a>
                    <input type="file" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
                </fieldset>
            </div>
            <div class="upload-product-zone">
                <label for="exampleFormControlSelect2">Details:</label>
                <textarea id="summernote" name="editordata" form="product-details">
                </textarea>
            </div>



        </div>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/js/uploadProduct.js"></script>